<IfModule mod_rewrite.c>
    RewriteEngine On
    DirectoryIndex public/index.php index.php

    # Transparently route all traffic and static assets into the /public folder
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
